.home-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 900px;
    height: 600px;
    align-items: center;
}

.home-container canvas {
    width: 900px;
}

.hide-button {
    visibility: hidden;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.nav-buttons span {
    cursor: pointer;
}
