.login-container div {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.login-icon {
    background: url(../img/pizza.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}